body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1:hover{
    color: darkblue;
    size: 55px;
    font-weight: 800;
}
.top-title {
    border-left: 8px solid dimgray;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
    font-weight: 700px;
}
#name{
    color: orange;
}
#web{
    color: palegreen;
}
.half-width{ 
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section{
    height: 500px;
    padding-bottom: 100px;

}
.half-width img{
    width: 100%;
}
#button{ 
    border-style: double;
    color: palegreen;
    size: 45px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(35deg, lightsalmon, tomato); 
    padding: 10px 20px;
    border-radius: 25px;
    color: papayawhip;
    font-weight: 700;
}

.middle{
    background-color: forestgreen;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-title{
    color: orange;
}
.border-shadow{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
    border-radius: 5px;
    background-color: white;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
    
}
#full-stack:hover{
    background: whitesmoke;
}

#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
#baby-dev:hover{
    background: cornsilk;
}
.text-area{
    background: wheat;
    padding: 35px 0px;
    margin-bottom: 0px;
    display: block;
    
}
#type{
    font-weight: 700;
    font-size: 25px;
}
input{
    width: 44%;
    margin-bottom: 35px;
    padding: 20px;
    outline: none;
    border: 1px double rosybrown;
}
input[type="submit"] {
    cursor: pointer;
    background:teal;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    width: 215px;
}
input:focus{
    font-weight: 600;
    color:darkblue;
    font-size: 25px;
}
.text{
    margin-left: 5%;

}
#footer-area{
    font-family: 'Roboto Mono', monospace;
    background: whitesmoke;
    text-align: center;
}
h1#mission{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

